* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: #2d3047;
  text-align: center;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}
header,
footer {
  min-height: 5vh;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 90vh;
}
main h2 {
  font-size: 1.25rem;
}
div.controller {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
div.controller button {
  color: white;
  font-weight: 700;
  background-color: #ff3c38;
  border: none;
  margin-right: 40px;
  padding: 10px 20px;
}
input.square__numbers {
  width: 100px;
  margin-right: 5px;
}
input.square__picker {
  border: none;
  width: 75px;
  height: 35px;
}
div.container {
  background-color: #ff3c38;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}

div.square {
  border: 1px solid #2d3047;
  background-color: white;
}
